services:
  django-api:
    build: .
    container_name: django-api
    ports:
      - "8000:8000"
    volumes:
      - ./dsaBackend:/app
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    env_file:
      - .env
  postgres:
    image: postgres:17
    container_name: dsa-db
    ports:
      - "5433:5432"
    volumes:
      - postgres-db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
  pgadmin4:
    container_name: "dsa-driver"
    image: dpage/pgadmin4
    restart: "always"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
  
volumes:
  postgres-db: